<main class="center-content-inner reveal-animation">
    <img src="assets/img/pond-white.png" class="pond-logo">

    <form class="reveal-content">
        <div class="form-group">
            <input type="email" class="form-control input-lg" placeholder="Email"
             spellcheck="false" autocorrect="off" autocapitalize="off" autofocus ng-model="signupEmail">
        </div>
        <fieldset class="input-group-vertical">
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" spellcheck="false" autocorrect="off" autocapitalize="off" autofocus
                ng-model="signupPassword">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Repeat Password"
                ng-model="signupPasswordAgain">
            </div>
        </fieldset><!-- /.input-group-vertical -->
        <div class="form-group">
            <button class="btn btn-lg btn-default btn-block glass">Sign up</button>
        </div>
    </form>
</main>
