<!-- Course View HTML -->
<div class="container ng-cloak" ng-show="loadedStudents && loadedModules">

	<!--Lessons-->
	<div class="row">
		<div class="col-md-12">
			<h1>{{lesson.name}}</h1>
			<p>
				<span>By {{lesson.creator.name || lesson.creator.email}}</span>
				<!-- <span class="label label-info" ng-if="user.id==lesson.creator.id">Your Lesson</span> -->
			</p>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body" ng-switch="lesson.description">
					<button class="btn btn-default btn-nb"
					 aria-label="Edit lesson description"
					 title="Edit lesson description"
					 ng-if="user.is_teacher"
					>
						<i class="fa fa-pencil fa-fw" aria-hidden></i>
					</button>
					<span ng-switch-default>
						{{lesson.description}}
					</span>
					<span ng-switch-when="null" class="in-place-message vmid">
						No description
					</span>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->

			<div class="form-group" ng-if="user.is_student">
				<button class="btn btn-primary">Start this lesson</button>
			</div><!-- /.form-group -->

			<div class="form-group" ng-if="user.is_teacher">
				<button class="btn btn-primary">Add a module</button>
			</div><!-- /.form-group -->
		</div><!-- /.col-md-6 -->

		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item" ng-hide="modules.length">
					<span class="in-place-message vmid">This lesson has no modules.</span>
				</div>
				<!-- MODULE LIST ITEM -->
  				<a href class="list-group-item module-group-item" ng-repeat="module in modules">
					<div class="module-icon" ng-switch="module.type">
						<i class="fa fa-list fa-fw fa-lg" ng-switch-when="quiz"></i>
						<i class="fa fa-file-text fa-fw fa-lg" ng-switch-when="article"></i>
						<i class="fa fa-video-camera fa-fw fa-lg" ng-switch-when="video"></i>
						<i class="fa fa-question fa-fw fa-lg" ng-switch-default></i>
					</div>
					<div class="module-description">
	    				<h4 class="list-group-item-heading">
							<span class="vmid">{{module.content.name}}</span>
							<!-- <i class="fa fa-check module-complete-flag"></i> -->
						</h4>

	    				<p class="list-group-item-text">
							{{module.content.description}}
						</p>
					</div><!-- /.module-description -->
  				</a><!-- /.module-group-item -->
				<!-- END MODULE LIST ITEM -->

			</div><!--/.list-group-->
		</div><!-- /.col-md-6 -->
	</div><!-- /.row -->

	<!-- Students table row -->
	<section class="row" ng-if="user.is_teacher">
		<div class="col-md-12">
			<h3 class="ib">
				<span class="vmid">Students </span>
				<span class="label label-primary label-pill">{{students.length}}</span>
			</h3>
			<!-- Add students button -->
			<div class="header-btn-group btn-group" ng-if="user.is_teacher">
				<button class="btn btn-default"
				 ng-click="showStudents(lesson,students)">
				 	<i class="fa fa-plus fa-fw" aria-hidden></i>
					Add Students
				</button>
			</div><!-- /.btn-group -->
			<!-- end add students button -->
			<table class="table">
				<thead>
					<th>Name</th><th>Progress</th><th></th>
				</thead>
				<tbody>
					<tr ng-hide="students.length" class="vmid">
						<td><span class="in-place-message vmid text-center">This lesson has no students.</span></td>
					</tr>
					<tr ng-repeat="student in students" class="vmid">
						<td>{{student.name || student.email}}</td>
						<td>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete</span>
								</div>
							</div><!-- /.progress -->
						</td>
						<td>
							<button type="button" class="btn btn-s btn-link btn-link-danger" role="button">
								Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.col-md-12 -->
	</section><!-- /.row -->
	<!-- end students table row -->

</div><!-- /.container -->

<!-- Students modal -->
<!--
	NG-TEMPLATE
-->
<script type="text/ng-template" id="studentsModal.html">
	<header class="modal-header">
		<h3 class="modal-title">Add new students</h3>
	</header><!-- .modal-header -->
	<main class="modal-body">

		<!-- Add students form -->
		<form name="NewStudentForm">
			<div class="form-group">
				<tags-input ng-model="newStudentEmails" type="email" spellcheck="false"
				 allowed-tags-pattern=".+@.+" min-tags="1" placeholder="Student email">
			 	</tags-input>
			</div><!-- /.form-group -->
		</form>

	</main><!-- .modal-body -->
	<footer class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="addNewStudents()">Add</button>
	</footer><!-- .modal-footer -->
</script>
<!--
	END NG-TEMPLATE
-->
