<div class="container">
	<div class = "row">
		<div class="col-md-4">
		</div>

		<div class="col-md-8">
			<h4>Article</h4>
			<p>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur commodo dapibus. Proin felis quam, pretium eget molestie a, dapibus non velit. Cras euismod sem blandit sem commodo, hendrerit eleifend nibh sagittis. Donec vel suscipit augue. Phasellus convallis, eros in vestibulum commodo, enim mauris congue libero, ac pellentesque lacus enim eu odio. Suspendisse posuere diam vel erat facilisis condimentum. Aliquam erat volutpat. Suspendisse semper accumsan tortor bibendum ultricies.

				Donec volutpat id ex vehicula rutrum. Fusce accumsan ex eget felis auctor placerat. Mauris nulla neque, egestas in vehicula nec, commodo eu dui. Integer viverra tellus sed malesuada dictum. Integer dictum tortor justo, ut posuere erat ullamcorper vel. Aliquam sagittis hendrerit urna, sit amet venenatis massa blandit id. Nullam orci erat, porta quis dapibus eu, sodales quis sem. Pellentesque eget lorem nisl. Phasellus dictum leo lacinia, dignissim diam ac, vulputate velit. Vivamus sodales quam non neque finibus accumsan. Curabitur sit amet diam vel tellus finibus hendrerit. Integer vitae leo justo. Suspendisse malesuada turpis in lectus rutrum, at tincidunt quam congue.

				In eget mi at tellus auctor maximus. Nulla a lorem lacus. In fermentum, nunc a fermentum euismod, arcu justo elementum ligula, quis sodales nisl risus vitae arcu. Maecenas iaculis, ligula eget venenatis tincidunt, ligula eros vehicula nulla, vitae auctor libero tortor mattis risus. Duis rutrum malesuada consectetur. Aliquam sit amet eleifend leo. Suspendisse sagittis dictum nulla, sed tempor lacus gravida eu. Donec ac ullamcorper sem. Nunc eleifend convallis risus at varius. Suspendisse at nulla at tellus elementum varius. Morbi sapien ex, efficitur sed orci eget, malesuada venenatis nibh. Pellentesque eu velit dapibus, tristique mauris vel, volutpat lorem. Etiam aliquam eu massa at condimentum. In ac lectus mauris.

				Vivamus augue urna, semper eget turpis nec, sollicitudin hendrerit dui. Morbi a tristique ante. Aliquam ut consequat lorem, sed dictum ante. Suspendisse et fringilla elit, vel dapibus ipsum. Sed ac tincidunt nunc. Nunc mollis nunc in nulla lobortis, eget convallis est gravida. Etiam eget nisi faucibus, euismod ex at, posuere urna. Praesent id mauris lacinia, ultricies orci a, elementum eros. Morbi eget tincidunt massa. Phasellus in velit luctus, ultrices urna quis, rutrum metus. Nunc lorem justo, posuere at accumsan ac, pharetra in tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam fermentum libero vel massa fermentum vehicula. Proin ut ante auctor, pretium eros vitae, gravida nibh.

				Nullam vel purus id diam rutrum molestie. Vivamus sagittis nisi lorem, a maximus enim dapibus et. Pellentesque sit amet est ac elit dignissim imperdiet non ac tellus. Quisque eu iaculis nisi, a pellentesque felis. Praesent consequat finibus lobortis. Quisque rhoncus accumsan consequat. In ac congue elit. Nullam risus nulla, luctus mollis mollis at, porta pellentesque arcu. Morbi mattis, nunc in malesuada venenatis, quam ipsum dapibus nisl, vitae sagittis libero arcu facilisis felis. Donec egestas risus ac velit cursus, ut bibendum ante egestas. 
			</p>
			
		</div>

		<!--back button-->
		<a class="btn btn-primary" ng-click="back()"><i class="fa fa-angle-left"></i></a>

		<!--forward button-->
		<!--forward button for tests need to act like submission buttons for tests-->
		<a class="btn btn-primary" ng-click="next()"><i class="fa fa-angle-right"></i></a>

	</div>
</div>
