<!-- Teacher View HTML -->
<div class="container">

	<!-- Profile icon & dash header -->
	<div class="row">
		<div class="col-md-4 visible-md-block visible-lg-block">
			<img src="assets/img/profile-default.png" class="img-circle center-block user-icon" width="100" height="100">
		</div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <!-- above card table -->
        </div><!-- /.col-md-4 -->
	</div><!-- /.row -->

	<!-- main row -->
	<div class="row">

		<!-- sidebar -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div ng-cloak style="height:24px">
						<span class="subtle-head">{{username}}</span>
						<span class="label label-primary label-caps">{{user.type}}</span>
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<a href class="list-group-item">Courses</a>
					<a href class="list-group-item">Certificates</a>
				</ul><!-- /.list-group.list-group-flush -->
			</div><!-- /.panel.panel-default -->
		</div><!-- /.col-md-4 -->

        <!-- Edit course modal -->
        <!--
            NG-TEMPLATE
        -->
        <script type="text/ng-template" id="editLessonModal.html">
            <header class="modal-header">
                <h3 class="modal-title">Edit Lesson</h3>
            </header><!-- .modal-header -->
            <main class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editLessonName">Lesson Name</label>
                        <input type="text" class="form-control" id="editLessonName" placeholder="Lesson Name"
                         ng-model="lesson.lesson_name">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="lesson.published"> Published
                        </label>
                    </div>
                </form>
            </main><!-- .modal-body -->
            <footer class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </footer><!-- .modal-footer -->
        </script>
        <!--
            END NG-TEMPLATE
        -->

        <!-- Delete course modal -->
        <!--
            NG-TEMPLATE
        -->
        <script type="text/ng-template" id="deleteLessonModal.html">
            <header class="modal-header">
                <h3 class="modal-title">Delete Lesson</h3>
                <span class="label label-danger">Danger Zone</span>
            </header><!-- .modal-header -->
            <main class="modal-body">
                <p>Modal Body</p>
            </main><!-- .modal-body -->
            <footer class="modal-footer">
                <button class="btn btn-danger" ng-click="confirm()">Confirm deletion</button>
                <button class="btn btn-success" ng-click="cancel()">Never mind</button>
            </footer><!-- .modal-footer -->
        </script>
        <!--
            END NG-TEMPLATE
        -->

		<!-- course cards -->
		<div class="col-md-8">
			<div class="row" id="lesson-list" aria-label="Lessons you've authored" role="list">
                <!-- course card repeat element -->
				<div class="col-md-6" ng-repeat="lesson in lessons" role="presentation">
					<div class="course-card" aria-label="Lesson" role="listitem">
						<h3 class="course-card-title">
							<span>{{lesson.lesson_name}}</span><br>
							<small>{{lesson.creator.name || lesson.creator.email}}</small>
						</h3>
                        <div class="btn-toolbar" role="toolbar" aria-label="Lesson actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-link"
                                ng-click="editLesson(lesson)" role="button">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-link btn-link-danger"
                                ng-click="deleteLesson(lesson)" role="button">
                                    Delete
                                </button>
                            </div><!-- /.btn-group -->
                        </div><!-- /.btn-toolbar -->
					</div><!-- /.course-card -->
				</div><!-- /.col-md-6 -->

                <!-- add course placeholder card -->
                <div class="col-md-6" role="presentation">
					<button class="course-card-add" aria-label="Create a new lesson">
                        <i class="fa fa-2x fa-plus"></i>
					</button><!-- /.course-card-add -->
				</div><!-- /.col-md-6 -->
                <!-- end add card -->

			</div><!-- /.row -->
		</div><!-- /.col-md-8 -->

	</div><!-- /.row -->
</div><!-- /.container -->
