html, body {
    box-sizing: border-box;
    font-size: 13pt;
    -webkit-font-smoothing: antialiased; /* fixes animation flicker */
    -moz-osx-font-smoothing: grayscale; /* fixes over-bold fonts in OS X firefox */
    font-family: "Lato", sans-serif;
}

.full-force {
    height: 100%;
}

.noclick {
    pointer-events: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.strike {
    text-decoration: line-through;
}

.in-place-message {
    font-style: italic;
    color: #aaa;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.full {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.dark {
    background: black;
    color: white;
}

.bg-full {
    width: 100%;
    height: 100%;

    background: none no-repeat center center fixed;
    background-size: cover;

    position: fixed;
    top: 0;
    z-index: 0;
}

.center-wrapper {
    position: fixed;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.center-wrapper-inner {
    vertical-align: middle;
    display: table-cell;
}

.center-content {
    margin: 0 auto;
}

.center-content-inner {
    width: 100%;
    margin: 0 auto;
}

/* "Vertical input group"
 * Bootstrap extension
 * [CITE] http://codepen.io/jxnblk/pen/gJFtz
 */

.input-group-vertical {
  margin-bottom: 10px;
}
.input-group-vertical .form-control {
  border-radius: 0;
}
.input-group-vertical .form-group {
  margin-bottom: 0;
}
.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}

/* Angular animation */

/* Wrap your Bootstrap <div class="alert">
 * in a <div class="animate-alert"> if it is using
 * ng-repeat or another animatable property to fade
 * it in height and opacity wise.
 */

.animate-alert {
    overflow: hidden;
    position: relative;
    /* Prevent WebKit text flicker on animation
     * (along with font-smoothing directive on `body`)
     * [CITE] https://nathanhoad.net/how-to-stop-css-animation-flicker-in-webkit
     */
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.animate-alert .alert {
    max-height: 100%;
}

.animate-alert.ng-enter, .animate-alert.ng-leave {
    -webkit-transition-property: opacity, max-height;
    -webkit-transition-easing: ease-in-out;
    -webkit-transition-duration: 0.6s;
}

.animate-alert.ng-enter, .animate-alert.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0px;
}

.animate-alert.ng-enter.ng-enter-active, .animate-alert.ng-leave {
    opacity: 1;
    max-height: 100px;
}

/* Captcha styling */

.captcha {
    width: 300px;
    height: 78px;
    overflow: hidden;
}

/* Multi-step form carousel */

.form-steps-container {
  width: 300px;
  height: auto;
  overflow-x: hidden;
}

.form-steps {
    transition: transform 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.form-step {
    width: 300px;
    margin-right: 50px;
}

/* Dashboard */

.user-icon {
    margin-top: 10px;
    margin-bottom:10px;
}

.label-caps, .subtle-head {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-transform: uppercase;
    vertical-align: middle;
}

.label-pill {
    font-size: 0.6em;
    border-radius: 20px;
}

.ib {
    display: inline-block;
}

.header-btn-group {
    float: right;
    margin: 20px 0 10px;
}

.subtle-head {
    color: #777;
}

.label-caps {
    font-size: 0.6em;
}

.course-card, .course-card-add {
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 2px;
    margin: 0 0 20px;
}

.course-card {
    background: #fff;
    box-shadow: 0px 2px 6px #ccc;
}

.course-card-details {
    font-size: 1em;
    color: #888;
}

.course-card-add {
    background: #eee;
    border: 1px solid #e9e9e9;
    color: #888;
}

@media only screen and (min-width : 48em) {
    .course-card, .course-card-add {
        height: 250px;
    }
    .course-card .btn-toolbar {
        position: absolute;
        bottom: 15px;
    }
}

.course-card-title {
    margin-bottom: 50px;
    padding: 0 10px 0;

    overflow: hidden;
    word-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.course-card-title-input {
    border: none;
    outline: none !important;
    padding: 0;
    margin: 0;
}

.course-card-title span {
    font-weight: 400;
}

.btn-link-danger {
    color: #c9302c;
}

.btn-link-danger:hover {
    color: #ac2925;
}

.btn-link-success {
    color: #449d44;
}

.btn-link-success:hover {
    color: #398439;
}

.btn-nb {
    border: none;
}

.btn-inline {

}

.course-card.unpublished {
    opacity: 0.6;
}

.unpublished-flag {
    color: #777;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@media only screen and (min-width : 48em) {
    .unpublished-flag {
        right: 23px;
        bottom: 23px;
    }
}

/* Navbar tweaks */

.navbar-flex .navbar-flex-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-flex .navbar-back {
    order: -1;
}

.navbar-flex .navbar-right {
    margin-right: 0 !important;
}

.navbar-brand {
    padding: 8px 10px;
}

.navbar-toggle {
    padding-top: 4px;
    padding-bottom: 4px;
}

.module-group-item h4 {
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

.module-icon, .module-description {
    display: inline;
}

.module-complete-flag {
    color: green;
}

.brand-center {
    display: block;
    width: auto;
    height: 50px;
    padding: 0;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-center img {
    transition: transform 0.8s ease-in-out;
}

.brand-center.uncollapse img {
    transform: rotate(180deg);
}

/* Black navbar for mobile */
@media only screen and (max-width: 47.999em) {
    .navbar-main.uncollapse {
        height: 100%;
    }
    .navbar-main {
        background-color: rgba(0,0,0,0.85);
        color: #fff;
        -webkit-backdrop-filter: blur(3px);
        border: none;
        transition: height 0.8s ease-in-out;
        overflow: hidden;
    }
    .navbar-main .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-main .navbar-toggle {
        border: none;
        background: none !important;
    }
    .navbar-main .navbar-collapse {
        border: none;
        position: absolute;
        margin-top: 10px;
        top: 40px;
        right: 0;
        left: 0;
        height: 100%;
    }
    .navbar-main .navbar-collapse li a {
        display: block;
        padding: 20px;
        color: #fff;
    }
    .navbar-main .navbar-collapse li a:hover {
        color: #fff;
    }
    .navbar-main .navbar-collapse li {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .navbar-main .navbar-collapse li:hover {
        background-color: rgba(255,255,255,0.1);
    }
    .navbar-main .navbar-collapse li i {
        margin-right: 10px;
    }
}

/* Fancier, less compact module list items
   for larger screens.
*/
@media only screen and (min-width: 48em) {
    .module-group-item {
        display: flex;
        padding: 1em;
    }
    .module-icon {
        display: block;
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        border: 2px solid #333;
        border-radius: 25px;
        padding: 10px 8px 0 !important;
    }
    .module-group-item h4 {
        display: block;
    }
    .module-description {
        display: block;
        padding: 0 1em 0;
    }
}

/* ng-tag-inputs styling */
tags-input .tags .tag-item {
    color: #333;
    background: #D3E7FA;
    border: none;
    border-radius: 4px;
}
tags-input .tags .tag-item.selected {
    color: #fff;
    background: #6FB0EF;
    border: none;
}
tags-input .tags .tag-item .remove-button {
    display: none;
}

/* Modal tweaks on mobile */
@media only screen and (max-width: 47.99em) {
    .modal-dialog {
        margin: 0;
        height: 100%;
    }
    .modal-dialog .modal-content {
        box-shadow: none;
        border: none;
        border-radius: 0px;
        height: 100%;

        flex-direction: column;
        display: flex;
    }
    .modal-body {
        flex: 1;
        overflow: scroll;
    }
}

td .progress {
    margin: 0;
}

.vmid {
    vertical-align: middle;
}

.table>tbody>tr.vmid>td {
    vertical-align: middle;
}

/* Quiz Module Button Styling */
/*http://bootsnipp.com/snippets/featured/modal-quiz-with-radio-button*/

#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

/* Edit of quize answer button */



label.answer-btn{
    background-color: #008CBA;
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 20px;

}

label.btn-block {
    text-align: left;
    position: relative
}

label .answer-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
    text-align: center;
    font-size: 15px;
}


