html, body {
    box-sizing: border-box;
    font-size: 13pt;
    -webkit-font-smoothing: antialiased; /* fixes animation flicker */
    -moz-osx-font-smoothing: grayscale; /* fixes over-bold fonts in OS X firefox */
    font-family: "Lato", sans-serif;
}

.full-force {
    height: 100%;
}

.noclick {
    pointer-events: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.strike {
    text-decoration: line-through;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.full {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.dark {
    background: black;
    color: white;
}

.bg-full {
    width: 100%;
    height: 100%;

    background: none no-repeat center center fixed;
    background-size: cover;

    position: fixed;
    top: 0;
    z-index: 0;
}

.center-wrapper {
    position: fixed;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.center-wrapper-inner {
    vertical-align: middle;
    display: table-cell;
}

.center-content {
    margin: 0 auto;
}

.center-content-inner {
    width: 100%;
    margin: 0 auto;
}

/* "Vertical input group"
 * Bootstrap extension
 * [CITE] http://codepen.io/jxnblk/pen/gJFtz
 */

.input-group-vertical {
  margin-bottom: 10px;
}
.input-group-vertical .form-control {
  border-radius: 0;
}
.input-group-vertical .form-group {
  margin-bottom: 0;
}
.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}

/* Angular animation */

/* Wrap your Bootstrap <div class="alert">
 * in a <div class="animate-alert"> if it is using
 * ng-repeat or another animatable property to fade
 * it in height and opacity wise.
 */

.animate-alert {
    overflow: hidden;
    position: relative;
    /* Prevent WebKit text flicker on animation
     * (along with font-smoothing directive on `body`)
     * [CITE] https://nathanhoad.net/how-to-stop-css-animation-flicker-in-webkit
     */
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.animate-alert .alert {
    max-height: 100%;
}

.animate-alert.ng-enter, .animate-alert.ng-leave {
    -webkit-transition-property: opacity, max-height;
    -webkit-transition-easing: ease-in-out;
    -webkit-transition-duration: 0.6s;
}

.animate-alert.ng-enter, .animate-alert.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0px;
}

.animate-alert.ng-enter.ng-enter-active, .animate-alert.ng-leave {
    opacity: 1;
    max-height: 100px;
}

/* Captcha styling */

.captcha {
    width: 300px;
    height: 78px;
    overflow: hidden;
}

/* Multi-step form carousel */

.form-steps-container {
  width: 300px;
  height: auto;
  overflow-x: hidden;
}

.form-steps {
    transition: transform 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.form-step {
    width: 300px;
    margin-right: 50px;
}

/* Dashboard */

.user-icon {
    margin-top: 10px;
    margin-bottom:10px;
}

.label-caps, .subtle-head {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-transform: uppercase;
    vertical-align: middle;
}

.subtle-head {
    color: #777;
}

.label-caps {
    font-size: 0.6em;
}

.course-card, .course-card-add {
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 2px;
    margin: 0 0 20px;
}

.course-card {
    background: #fff;
    box-shadow: 0px 2px 6px #ccc;
}

.course-card-add {
    background: #eee;
    border: 1px solid #e9e9e9;
    color: #888;
}

@media only screen and (min-width : 992px) {
    .course-card, .course-card-add {
        height: 250px;
    }
    .course-card .btn-toolbar {
        position: absolute;
        bottom: 15px;
    }
}

.course-card-title {
    margin-bottom: 50px;
    padding: 0 10px 0;

    overflow: hidden;
    word-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.course-card-title-input {
    border: none;
    outline: none !important;
}

.course-card-title span {
    font-weight: 400;
}

.btn-link-danger {
    color: #c9302c;
}

.btn-link-danger:hover {
    color: #ac2925;
}

.btn-link-success {
    color: #449d44;
}

.btn-link-success:hover {
    color: #398439;
}

.course-card.unpublished {
    opacity: 0.6;
}

.unpublished-flag {
    color: #777;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@media only screen and (min-width : 48em) {
    .unpublished-flag {
        right: 23px;
        bottom: 23px;
    }
}

/* Navbar tweaks */

.navbar-toggle {
    padding-top: 4px;
    padding-bottom: 4px;
}

.module-group-item h4 {
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

.module-icon, .module-description {
    display: inline;
}

.module-complete-flag {
    color: green;
}

@media only screen and (min-width: 48em) {
    .module-group-item {
        display: flex;
        padding: 1em;
    }
    .module-icon {
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid #333;
        border-radius: 25px;
        padding: 10px 8px 0;
    }
    .module-group-item h4 {
        display: block;
    }
    .module-description {
        display: block;
        padding: 0 1em 0;
    }
}
